@import './../../utils';

#myStory{
    padding: 70px 0px 0px 0px !important;
    height: 100vh;
    position: relative;
    p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        margin:  auto;
        // margin-top: 40px;
        text-align: center;
        color: $textDark2;
    }
}