#getResumeMob{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background: -webkit-linear-gradient(45deg,#7aa4ff , #847AFF);
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s;
}

.hide{
    opacity: 0 !important;
    transition: all 1s;
    pointer-events: none;
}

@media only screen and (min-width:1000px){
    #getResumeMob{
        display: none;
    }
}