#getResumeMob{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background: -webkit-linear-gradient(45deg,#7aa4ff , #847AFF);
    color: #fff;
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s;
}

.hide{
    opacity: 0 !important;
    transition: all 1s;
    pointer-events: none;
}
.padder{
    padding: 70px 0px 70px  0px !important;
}

.shadow{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.116);
}

.rounded-border{
    border-radius: 10px;
}
.vh100{
    min-height: calc(100vh - 150px);
}
@media only screen and (min-width:1000px){
    #getResumeMob{
        display: none;
    }

    .padder{
        padding: 120px 0px 120px  0px !important;
    }
}
